<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expensetracker.esssquad">

    <application
        android:allowBackup="true"
        android:icon="@drawable/expense"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Credit"
            android:label="@string/title_activity_credit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Report"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Debit"
            android:label="@string/title_activity_debit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Bal_Report"
            android:label="@string/title_activity_bal__report"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Show_bal"
            android:label="@string/title_activity_show_bal"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewDB"
            android:label="@string/title_activity_view_db"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>